<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div>
<!--                | means OR operator-->
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    <div>
    {{order}}
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="files"> Upload a file</label>
        <input type="file" id="files" name="file">
        <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
    </form>
    {% endif %}
    {% for s in Student %}
    {{Student.student_F_name}}
    {% endfor %}
</body>
</html>